<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangoWeb</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="images/logo.png" width="100" class="d-inline-block align-top" alt="">

            </a>
            <form class="form-inline">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </nav>
    </div>

    <main class="col-auto">
        {{{body}}}
    </main>
</body>

</html>
<script src="/js/logout.js"></script>