

<!-- Project Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">Project Budget</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Budget</label>
                        <input type="text" class="form-control-plaintext" id="price" placeholder="100$">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Price Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Project Name</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                    <div class="col-auto">
                        <label for="staticEmail2">time</label>
                        <input type="date" class="form-control" id="price" placeholder="100$">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Collabrators Modal -->
<div class="modal fade" id="collModal" tabindex="-1" role="dialog" aria-labelledby="collModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="collModalLabel">Project Collabrators</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">email:</label>
                        <input type="email" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Tags Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagModalLabel">Project Tags</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Tag</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Summary Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="summaryModalLabel">Summary</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Name</label>
                        <input type="textarea" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Description</label>
                        <input type="textarea" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Links Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Project Links</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Link</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>