<div class="container-fluid">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" width="100" class="d-inline-block align-top" alt="">

        </a>
        <form class="form-inline">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>
</div>
<div class="container-fluid mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto me-auto">
                <h1 class="text-muted">Project Name <span>10/10/10</span> <span><button type="button" class="btn"
                            data-bs-toggle="modal" data-bs-target="#projectModal"><i
                                class="fa-solid fa-pen"></i></button></span>
                </h1>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Status
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Active</a></li>
                        <li><a class="dropdown-item" href="#">Deactive</a></li>
                        <li><a class="dropdown-item" href="#">Finished</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Progressing</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <div class="container mt-5 text-muted">
                <p>Price <span><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#priceModal"><i
                                class="fa-solid fa-plus"></i></button></span>
                </p>
            </div>
            <div class="container my-5 text-muted">
                <p>Collaborators <span><button type="button" class="btn" data-bs-toggle="modal"
                            data-bs-target="#collModal"><i class="fa-solid fa-plus"></i></button></p>
                <div class="row">
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                    <div class="col-md-4 my-2 mx-2"><span>xxx@gmail.com</span></div>
                </div>
            </div>
            <div class="container my-5 text-muted">
                <p>Links <span><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#linkModal"><i
                                class="fa-solid fa-plus"></i></button></p>
                <div class="row">
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <span>www.xxxxxxxxxxx.com.au</span>
                    </div>
                </div>
            </div>
            <div class="container my-5  text-muted">
                <p>Tags <span><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#tagModal"><i
                                class="fa-solid fa-plus"></i></button></p>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark"><span><i class="fa-solid fa-xmark"></i>
                                tag</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="container">
                    <p>Project Summary <span><i class="fa-solid fa-pen"></i></p>
                    <textarea rows="4" style="width: 100%;"></textarea>
                </div>
                <div class="container">
                    <p>Description <span><i class="fa-solid fa-pen"></i></p>
                    <textarea rows="8" style="width: 100%;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">Project Price</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Price</label>
                        <input type="text" class="form-control-plaintext" id="price" placeholder="100$">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Price Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Project Name</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                    <div class="col-auto">
                        <label for="staticEmail2">time</label>
                        <input type="date" class="form-control" id="price" placeholder="100$">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Collabrators Modal -->
<div class="modal fade" id="collModal" tabindex="-1" role="dialog" aria-labelledby="collModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="collModalLabel">Project Collabrators</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">email:</label>
                        <input type="email" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Tags Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagModalLabel">Project Tags</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Tag</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Summary Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="summaryModalLabel">Summary</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Name</label>
                        <input type="textarea" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Description</label>
                        <input type="textarea" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Links Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Project Links</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="staticEmail2">Link</label>
                        <input type="text" class="form-control" id="name" placeholder="example">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>